@import "bootstrap/scss/bootstrap";
@import 'swiper/swiper-bundle';
@import "../stylesheets/shared/footer.scss";
@import "../stylesheets/items/index.scss";
@import "../stylesheets/items/new.scss";

// max-width

.mw-md {
  max-width: 600px;
}

.mw-xl {
  max-width: 1200px;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.pb-lg {
  padding-bottom: 80px !important;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

header {
  background-image: url(header_background.png);
  max-height: 130px;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
  margin: 0;
  display: flex;
  flex-flow: column;
  position: relative;
  min-height: 100vh;
}

.purchase-btn {
  width: 120px;
  background: #c0c0c0;
  text-align: center;
  border-radius: 4%;
  top: 140px;
  right: 32px;
  position: fixed;
  padding: 15px;
  z-index: 100;
  border-radius: 50%;

  &:hover {
    text-decoration: none;
  }
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}

.form__wrapper {
  display: flex;
  justify-content: center;
}